<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     
   </form>
     <label type="text" input="string">Team Name:</label>
     <form type="text" input="string">Coach:</form>
     <form type="text" input="string">Point Guard:</form>
     <form type="text" input="string">Shooting Guard:</form>
     <form type="text" input="string">Small Forward:</form>
     <form type="text" input="string">Power Forward:</form>
     <form type="text" input="string">Center:</form>
     <form type="button" input="string">Submit</form>
 </body>
</html>


